/* PHASE 0: Reset */

html, body, header, nav, h1, a,
ul, li, strong, main, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: 'Montserrat', sans-serif;
  /* font: inherit; */
  // color: inherit;
  // color: #161e28; //asanablack
  color: #181313; //spotify logo black
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  scroll-behavior: smooth;

  -webkit-appearance: none;

  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}



/*=======================================================*/
/*------------------WINDOW----------------*/
html, body {
  height: 99.9%;
  width: 99.9%;
  margin: 0;
}

html {
  overflow: hidden; //try to prevent scroll bounce
}

body {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

li {
  list-style-type: none;
}

#full-browser-window {
  // border: 2px solid purple;
  height: 99.9%;
  width: 99.9%;
  min-height: 99%;
}
/*------------------NONPLAYER----------------*/
#sidebar-and-browse-common-parent {
  display: flex;
  flex-direction: row;
  min-height: 100vh;

  // background-color: rgb(24, 24, 24); //color-flip
}
/*------------------SIDEBAR----------------*/
#sidebar-parent {
  // border: 5px solid blue;
  // background-color: blue;

  flex: 0 0 12em;
  // border-right: 1px solid #181313;

  //-----------from profile .sidenav------//
  width: 200px; /* Set the width of the sidebar */
  overflow: scroll;


}

/*------------------BROWSE----------------*/
#browse-parent {
  // border: 2px solid red;
  flex: 1;
  margin-bottom: 136px; //80 from player + margin
  margin-top: 50px; //80 from header + margin
  overflow-x:hidden;
}
#browse-content{
  max-height: 100%;
  overflow: scroll;

  // margin-bottom: 136px; //80 from player + margin
  margin-right: 70px;
  overflow-x:hidden;
}

/*------------------PLAYER----------------*/
#player {
  // border: 2px solid green;


  // position: absolute;
  // right: 0;
  // bottom: 0;
  // left: 0;
  // height: 80px;
}


/*------------------HEADER----------------*/
// #main-header {
//
//   display: flex;
//   justify-content: space-between;
//   z-index: 2;
//   position: fixed;
//
//   min-width: 100%;
//   min-height: 40px;
//
//   top: 0; /* Stay at the top */
//   left: 187px;
//   background: #fff;
//
//   // background-color: red;
//   border-bottom: 1px solid #a0a0a0;
// }

#main-header {

  display: flex;
  justify-content: space-between;
  z-index: 7;
  position: fixed;

  align-items: center;
  // padding: 5px;

  top: 0;
  left: 187px;
  background-color: rgba(255,255,255, 0.6);

  // border-bottom: 1px solid #eee;

  min-width: 100%;
  height: 40px;
  //   background: #fff;
  // filter: blur(5px);

  -webkit-box-shadow: 0px 15px 100px 0px rgba(250, 250, 250, 0.4);  /* Safari 3-4, iOS 4.0.2 - 4.2 Android 2.3+ */
  -moz-box-shadow:    0px 15px 100px 0px rgba(250, 250, 250, 0.4);  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 15px 100px 0px rgba(250, 250, 250, 0.4);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

}

#header-search-parent{
  display: flex;
  align-items: center;
  height: 24px;
  margin: 8px;
  margin-left: 30px;
  // padding: 2px;
  padding-left: 8px;
  padding-right: 8px;

  border: 1px solid #a0a0a0;
  border-radius: 800px;
  background: #fff;


  .fa-search {
    color: #535353;
  }
}


#header-search {
  height: 18px;
  width: 126px;
  padding: 0px;
  margin: 0;
  margin-left: 6px;
  border: 0;
  // padding-left: 4px;
  font-size: 12px;

  // border-radius: 800px;
}

// .widget {
//   border-top: 2px solid rgba(255, 255, 255, .5);
//   border-bottom: 2px solid rgba(255, 255, 255, .5);
//   height: 200px;
//   width: 100%;
//   overflow: hidden;
// }
//
// .blur {
//   z-index: -1;
//   position: fixed;
//   margin-top: -10px;
//   min-width: 100%;
//   min-height: 40px;
//   // margin-left: 50%;
//
//   top: 0; /* Stay at the top */
//   left: 187px;
//
//   // background-color: #282828;
//   background-color: #000;
//   filter: blur(13px);
// }
/*=======================================================*/

//
// body { // to offset player footer!!! must correspond to same size
//   margin: 80px;
// }

button {
  font-weight: 400;
  letter-spacing: 1px;

  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}


button:hover {
  letter-spacing: 1.5px;
  transform: scale(1.01);
}

a {
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

a:hover {
  text-decoration: none;
  letter-spacing: 0.2px;
}

a:hover button {
  text-decoration: none;
}

.button-green {
  background-color: #1bc156;
  color: white;
  border: none;
}

.button-green:hover{
  background-color: #1ED760;
  transform: scale(1.01);
  /* font-size: 12px; */
}

.button-mono {
  color: #aaa;
  border: 1px solid #aaa;
  background-color: transparent;

}

.button-mono:hover{
  color: #222;
  border-color: #222;
  /* font-size: 10px; */
  transform: scale(1.01);
}

ul {
  list-style: none;
}

img {
  display: block;
  // width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
textarea {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #dfe0e6;
}


/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}



//font awesome
// i {
//   transform: scale(1.5);
// }
