/* PHASE 0: Reset */

html, body, header, nav, h1, a,
ul, li, strong, main, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: 'Montserrat', sans-serif;
  /* font: inherit; */
  // color: inherit;
  color: #161e28; //asanablack
  // color: #181313; //spotify logo black
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

body { // to offset player footer!!! must correspond to same size
  margin: 80px;
}

button {
  font-weight: 400;
  letter-spacing: 1px;
}

ul {
  list-style: none;
}

img {
  display: block;
  // width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
textarea {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #dfe0e6;
}


/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}
