.entity-index-container {
  margin-left: 60px;
  a:hover {
    text-decoration: underline;
  }
}


.entity-index {
  display: flex;
  width: 100%;
  justify-content: left;
  flex-wrap: wrap;
}

.entity-index-item {
  // display: flex;
  margin: 10px;
}

.entity-index-item, .entity-index-item-hide {
  display: flex;    // this centers title under photo
  flex-direction: column;
  position: relative;
}

.entity-index-item-img {
  height: 80px;
  width: 80px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 800px;
  transition: border-color 0.5s ease;
  transition: background-color 0.5s ease;
  transition: opacity 0.5s ease;

}

.entity-index-item-img:hover {
  // border-color: #1bc156;
  // opacity: 0.5;
}

.index-img-big {
  height: 180px;
  width: 180px;
}

.index-img-big:hover {

}


.entity-index-item-title {
  // font-weight: 700;
  margin: auto;
  // flex-wrap: wrap;
  h3 {
    margin-bottom: 0;
  }
}
.entity-index-item-followcount {
  // display: flex;
  margin: auto;
  color: #aaa;
}

// .fa {
//   position: absolute;
//   z-index: 1;
//   margin-left: 34px;
//   margin-top: -15px;
// }

.hidden {
  // position: absolute;
  // z-index: 1;
  // margin-left: 20px;
  // margin-top: -14px;
  // border: 1px solid red;
}

.hidden{
  border-radius: 800px;
  padding: 0;
  color: #000;
  transition: opacity 0.9s ease;
  transition: color 0.9s ease;
  opacity: 0;
}

.playlist-ball-play-button{
  border: 0;
  position: absolute;
  z-index: 1;
  width: 40px;
  margin-left: 35px;
  margin-top: -14px;
}

.playlist-ball-play-button-big {
  border: 0;
  position: absolute;
  z-index: 1;
  width: 99px;
  margin-left: 56px;
  margin-top: -1px;
  i {
    // margin-left: 100px;
  }
}
