.glass, .glass html, .glass body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.glass body {
    background-image: url('pelican.jpg');
    background-size: cover;
}

.glass::before {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('pelican-blurry.jpg');
    background-size: cover;
    content: ' ';
    opacity: 0.4;
}
.glass {
    background-color: white;
}
