

.modal-header {
  display: flex;
  border-bottom: 1px solid #ddd;
}


.modal-header img {
  margin-top: 12px;
  margin-bottom: 16px;
  height: 60px;
  width: 200px;

}


.login-form-inner-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 50px;
}

.playlist-form-inner-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 2px;
}

.login-form {
  display: flex;
}

input {
  margin: 5px;
}

.login-input {
  height: 24px;
  width: 408px;
  padding: 10px;
  font-size: 12px;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a0a0a0;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #a0a0a0;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #a0a0a0;
}
:-moz-placeholder { /* Firefox 18- */
  color: #a0a0a0;
}

input:focus {
    /* outline: none; */
    border-color: #999;
    // box-shadow: 0 0 5px #d2f7df;
}

.button-container button{
  display: block;
  margin-bottom: 14px;
  width: 408px;
  height: 36px;
}



h3:first-child {
  display: block;
}

.green-link {
  color: #1dba53;
  /* border: 1px solid; */
}

.green-link:hover {
  color: #1ED760;
  text-decoration: none;
  /* border: 1px solid; */
}

.form-type-title {
  width: 100%;
  border-bottom: 1px solid #a0a0a0;
  margin-bottom: 10px;
  // padding-bottom: 0;
}

.form-type-title h3 {
  display: flex;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 20px;
  justify-content: center;
}

.form-type-title h2 {
  display: flex;

  justify-content: center;

  border-bottom: 0;
}

.error-display {
  font-weight: 400;
  color: red;
}

/// PLAYLIST ADD-ON

#playlist-description {
  resize: none;
  height: 100px;
}

// .errors-ul {
//   border: 0;
// }

// .login-form #playlist-form-inner-box {
//   margin-top: 0;
// }
