
.footer-all {
  // z-index: 3;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 99%;
  height: 80px;
  //
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;

  background-color: #282828;

  color: #fff;



  // border: 2px solid green;
}

.footer-left img {
  width: 60px;
  height: 60px;
}

.footer-right {
  margin-right: 40px;
  p {
    color: #fff;
  }
}

.footer-right img {
  width: 60px;
  height: 60px;
}

.play-controls-main {
  margin-left: 60px; // to center with entity-index, optional
}

.main-PLAY{
  width: 32px;
  height: 32px;
  color: #fff;
  border: 1px solid #b3b3b3;
  border-radius: 50%;
}

.main-BACK {
  width: 20px;
  height: 20px;
  color: #b3b3b3;
  border: 0;

  transition: color 0.5s ease;
}

.main-FORWARD {
  width: 20px;
  height: 20px;
  color: #b3b3b3;
  border: 0;

  transition: color 0.5s ease;
}
