html, body, header, nav,
ul, strong, main, button, i,
section, img, div, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  font-family: 'Montserrat', sans-serif;
  /* color: white; */
  /* background: transparent; */
  // padding: 0 10px 10px 10px;

  /* border: 1px solid red; */
}

body {
  /* background: #191414; */
}


/* .grad {
  background: linear-gradient(#a0a0a0, #191414);
} */

.profile-info h1 {
  font-size: 38px;
  margin-top: 1px;
}

.profile-info h3 {
  margin-bottom: 0;
}


h3 {
  font-size: 12px;
  font-weight: 200;
}

a {
  color: black;
  text-decoration: none;
}

.song-list {
  /* Disable horizontal scroll */
  border: 1px solid #f3f3f3;
  overflow-x: scroll;
  // height: 260px;
  height: 100%;
}

.song-list li:first-child{
  border-top: 0;
}

// li {
//   background-color: white;
//   transition: background-color 0.2s ease;
// }
//
// li:hover {
//   text-decoration: none;
//   background-color: white;
// }

.song-list li {
  padding: 6px;
  border-top: 1px solid #ddd;
}

.song-list li:hover {
  background: #eee;
}

.user-session-nav {
  display: flex;
  flex-direction: row;
  // justify-content: center;
  align-items: center;
  // margin-left: 150px;
  h3 {
    margin: 0;
  }
}

.current-user-avatar {
  height: 30px;
  width: 30px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 800px;
  transition: border-color 0.5s ease;
}

.current-user-avatar:hover {
  border-color: #222;
}

.header-button-more {
  font-size: 14px;
  // font-weight: 700;
  width: 30px;
}


img {
  display: block;
  // z-index: -1;
  border: 0;
  padding: 10px;
  width: 280px;
  height: 280px;
  // border-radius: 800px;
  // background: image_url("watercolor1.jpg") 0 0;
}

#profile-pic-div {
  display: flex;
  // z-index: -1;
  // border: 1px solid #eee;
  padding: 0px;
  margin: 0;
  margin-right: 50px;
  width: 290px;
  height: 290px;
  border-radius: 800px;
  justify-content: center;
  // background: image_url("watercolor1.jpg") -47px -50px;
  // background: image_url("water2.png") -57px -0px;
}

#profile-pic {
  // display: block;
  // z-index: -1;
  padding: 0px;
  margin-top: -50px;
  width: 240px;
  height: 240px;
  // border-radius: 800px;
  // border: 100px solid white !important;
  border: 0;
  margin: auto;

  box-shadow: 1px 1px 100px #ddd;// asana #161e28;
}


/* NEW */
.profile-header {
  display: flex;
  justify-content: left;
  // width: 100%;
  width: 1000px;
  // border: 1px solid purple;

}

.profile-info {
  display: block;
  padding: 20px;
  // border: 1px solid red;
  width: 100%;
}

.profile-button-box {
  margin-top: 5px;
  padding: 0;
  display: flex;
  justify-content: left;
  // background-color: red;
  button {
    // font-weight: 700;
  }
}

.song-list {
  border: 0;
  margin-left: 60px;
  background-color: transparent;
  li {
    background-color: transparent;
  }
}


/* FOOTER */
footer {
  position:absolute;
  bottom: 0;
  padding-right: 10px;
  margin: 0;
  width:100%;
  height:120px;   /* Height of the footer */
  border-top: 1px solid #a0a0a0;
}

.footer-all {
  display: flex;
  justify-content: space-between;
}

.play-controls {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.footer-left img {
  width: 60px;
  height: 60px;
}

.footer-right img {
  width: 60px;
  height: 60px;
}




/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 180px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 0; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    border-right: 1px solid black;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    /* font-size: 25px; */
    /* color: #818181; */
    display: block;
}

/* When you mouse over the navigation links, change their color */
a:hover {
    color: #535353;
    text-decoration: none;
    // text-decoration: underline;
}

.new-playlist {
  position: fixed;
  left: 0;
  bottom: 110px;
  // right: 100%;
  // right: 100px;
  width: 180px;

  margin: 0;
  border-width: 1px 0px 0px 0px;
  padding: 0;
  // width: 100%;
  border-radius: 0;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

.profile-description {
  padding-bottom: 4px;
  // border: 1px solid red;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
