html, body, header, nav,
ul, strong, main, button, i,
section, img, div, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  font-family: 'Montserrat', sans-serif;
  /* color: white; */
  background: transparent;
  justify-content: center;

}

body {
  /* background: #191414; */
}

/* .grad {
  background: linear-gradient(#a0a0a0, #191414);
} */

strong {
  padding: 4px;
}

.welcome-h1 h1 {
  margin-top: 140px;
  margin-bottom: 0;
  font-size: 38px;
}

span {
  font-size: 38px;
}


h3 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 200;
}

a {
  color: black;
  text-decoration: none;
  // cursor: default;
  cursor: pointer;
}


button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  outline: none;
  margin: 6px;
  padding: 0px;

  height: 30px;
  width: 80px;

  border-radius: 114px;
}

.splash-main {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  margin-left: 0;
}

.splash-main-text {
  display: block;
}

img {
  display: block;
  padding: 10px;
  width: 280px;
  height: 280px;
}


/* NEW */
.albums-grid {
  display: flex;
  margin-top: 30px;
}

.profile-info {
  display: block;
  /* padding: 20px; */
}

.profile-button-box {
  display: flex;
}


/* When you mouse over the navigation links, change their color */
a:hover {
    color: #535353;
    // text-decoration: underline;
}


.banner {
  /*uigradients.com*/
  background: #ff4b1f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff9068, #ff4b1f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff9068, #ff4b1f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



/* USER AVATAR */

.user-avatar {
  height: 50px;
  width: 50px;
  border: 1px solid #a0a0a0;
  border-radius: 500px
}


/* .form-label {
  visibility: hidden;
} */

.fa-github {
  margin-left: 5px;
}

.fa-github:hover {
  color: white;
}

.watercolor {
  // float: left;
  // width: 100%;
  // height: 100%;
  z-index: -1;
  background: image_url("water2.png");

  // transform: rotate(7deg);


  background-repeat: no-repeat;

}


.app-name {
  color: white;
  font-size: 68px;
  margin-left: -8px;
  display: inline;
  // letter-spacing: 4px;
  margin-bottom: 0px;
  font-weight: 700;
}


.fa-spotify{
  // color: white;
  margin: auto;
  margin-left: 5px;
  margin-right: 5px;
}

.fa-spotify {
  // color: red;
  padding-bottom: 2px;
  // background-color: red;
}

footer {
  display: flex;
  position:absolute;
  // bottom: 0;
  top: 0;
  // padding-right: 10px;
  margin: 0;
  width:100%;
  height:80px;   /* Height of the footer */
  // border-top: 1px solid #a0a0a0;
  // background-color: #444;
  background-color: rgba(11, 11, 11, 0.6);
  // border: 2px solid green;
  justify-content: left;
}

.splash-header-item{
  // margin: auto;
  font-size: 14px;
  font-weight: 700;
  margin-top: 32px;
  color: white;
  margin-left: 16px;
}

.splash-header-link:hover {
  letter-spacing: normal;
}

.splash-header-item:hover {
  color: #1ED760;
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

.welcome-header-logo {
  color: white;
  margin-left: 40px;
  // border: 5px solid red;
}

.header-links {
  display: flex;
  position:absolute;
  // bottom: 0;
  // top: 0;
  // padding-right: 10px;
  margin: 0;
  width:100%;
  height:80px;   /* Height of the footer */
  // border-top: 1px solid #a0a0a0;
  // background-color: #444;
  background-color: rgba(11, 11, 11, 0.6);
  // border: 2px solid green;
  justify-content: left;

}


#welcome-paragraphs-div {
  display: flex;
  // margin: auto;
  // background-color: teal;
  margin-top: 100px;
  margin-left: 150px;
  margin-bottom: 0px;

  font-weight: 700;
}

#welcome-paragraphs-div span {
  width: 50%;
}

#welcome-paragraphs-div h1 {
  font-size: 40px;
  margin-bottom: 0px;
  // letter-spacing: -.02em;
}

#welcome-paragraphs-div h2 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 26px;
  margin-bottom: 6px;
}

#welcome-paragraphs-div p {
  font-size: 12px;
  font-weight: 400;
  width: 60%;
}

#welcome-paragraphs-pic1{
  // display: inline;
  // display: flex;
  // width: 100%;
  // height: 100%;
  img {
    margin-left: -50px;
  }
}

.get-started {
  background-color: red;
}

#root > div > center > div > a > button {
  width: 140px;
}


.splash-main .button-container button{
  display: inline;
  margin-bottom: 14px;
  width: 208px;
  height: 36px;
}

.black-footer-splash {
  width: 100%;
  display: flex;
  justify-content: left;
  align-content: center;
  min-height:40px;
  background-color: black;
}

.black-footer-splash a {
  h1 {
    font-size: 10px;
    margin-top: 0px;
  }
  margin-top: auto;
  margin-bottom: 12px;
}
