#pic-1 {
  -moz-animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
}

#pic-2 {
  -moz-animation-duration: 0.7s;
  -webkit-animation-duration: 0.7s;
}

#pic-3 {
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
}
