// #pic-1 {
//   -moz-animation-duration: 0.5s;
//   -webkit-animation-duration: 0.5s;
// }
//
// #pic-2 {
//   -moz-animation-duration: 0.7s;
//   -webkit-animation-duration: 0.7s;
// }
//
// #pic-3 {
//   -moz-animation-duration: 0.9s;
//   -webkit-animation-duration: 0.9s;
// }


.speed-2 {
  -moz-animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;
}

.speed-2 {
  -moz-animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
}

.speed-3 {
  -moz-animation-duration: 0.7s;
  -webkit-animation-duration: 0.7s;
}

.speed-4 {
  -moz-animation-duration: 0.9s;
  -webkit-animation-duration: 0.9s;
}

.speed-5 {
  -moz-animation-duration: 0.9s;
  -webkit-animation-duration: 0.9s;
}

.speed-6 {
  -moz-animation-duration: 1.1s;
  -webkit-animation-duration: 1.1s;
}

.speed-7 {
  -moz-animation-duration: 1.4s;
  -webkit-animation-duration: 1.4s;
}
